@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;}

body{
    display: flex;
    flex-direction: column;    
    background-color: hsl(225, 100%, 94%);
        
    align-items: center;
        
}
.background{
        width: 100%;
        height: 50%;
 }

.attribution{
    position: absolute;
 }

/*CARD*/
.image-p{
    border-radius: 15px 15px 0px 0px;
    
}

.card-c{
    display: flex;
    flex-direction: column;
    position: absolute ;

    width: 450px;
    height: 700px;
    background-color: azure;
    border-radius: 15px;

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    align-items: center;

    box-shadow: 0px 15px 20px 1px hsl(245, 75%, 52%,0.2);

}

/*CARD TITLE*/
h2.title{
    margin-top: 40px;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    font-size: 30px;
    text-align: center;
}
/*CARD Text*/
p.text{
    width: 300px;
    text-align: center;
    font-size: 18px;

    margin-top: 20px;

    color: hsl(224, 23%, 55%);
}
/*CARD Plan*/
div.plan{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 15px;
    width: 350px;
    height: 80px;
}

.price{
    margin-left: 20px;
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    font-size: 20px;
}
.price p{
    color: hsl(224, 23%, 55%);
    font-weight: 500;
    font-size: 16px;
    margin-top: 5px;
}

.change{
    
    display: flex;
    align-items: center;
    color: hsl(245, 75%, 52%);
    font-weight: 700;
    font-size: 16px;
    margin-left: 100px;
}
.change:hover{
    text-decoration: none;
}
/*Button payment*/
button.payment{
    width: 350px;
    height: 50px;
    font-size: 18px;

    margin-top: 40px;
    color: white;
    background-color: hsl(245, 75%, 52%);
    box-shadow: 0px 10px 10px 1px hsl(245, 75%, 52%,0.4);

    border-radius: 8px;
    border-style:none ;
    cursor: pointer;
}
button.payment:hover{
    background-color:hsl(245, 80%, 58%) ;
}
/*Cancel order*/
.cancel-order{
    text-decoration: none;
    color:hsla(223, 47%, 25%, 0.637) ;
    font-weight: 500;
    margin-top: 30px;
}
.cancel-order:hover{
    font-weight: 900;
}

/*Media 375*/
@media (max-width: 375px){
    body{
        background: url(./images/pattern-background-mobile.svg);
        background-repeat: no-repeat;
        background-color: hsl(225, 100%, 94%);
    }
  
    .image-p{
        width: 100%;
        height: 30%;
        object-fit: contain;
        
        
    }
    .card-c{
        width: 300px;
        height: 500px;
    }
    
    h2.title{
        font-size: 20px;
    }
    p.text{
        font-size: 13px;
        width: 250px;
    }
    
    div.plan{
        width: 250px;
        margin-top: 10px;
        background-color: hsl(225, 100%, 98%);
        padding: 10px;
        
        
    }

    div.plan svg{
       margin-left: -30px;
    }

    div.price{
        font-size: 13px;
        margin-right: -50px;
    }
    div.price p{
        font-size: 12px;
        
    }
    .change{
        font-size: 12px;

        text-decoration: underline;
    }

    button.payment{
        width: 80%;
        height: 10%;
        font-size: 10px;
        margin-top: 10px;
    }

    a.cancel-order{
        margin-bottom: 30px;
        color: hsl(224, 23%, 55%);
        font-size: 14px;
    }
    
}